@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 220px;
    margin-top: 50px; 
    /* background-color: aliceblue; */
}
header{
    padding : 10px 0px;
    background-color: lightblue;
    margin: 20px auto;
    text-align: center;
}
.a1 , .a2{
    border: 4px solid grey;
    padding : 13px ;
}
p{
    font-family: 'Poppins', sans-serif;
}