h1{
    border: 100px solid brown;
    /* padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-top: 80px; */
    /* padding : 40px; */
    /* padding: 20px 40px; */
    /* padding : 20px 30px 40px 50px; */
    padding: 10px;

    /* margin-left:100px;
    margin-right:50px;
    margin-bottom:100px;
    margin-top: 150px; */
    /* margin:50px; */
    width:150px;
    margin: 150px auto;
    background: lightblue;

}