@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color:#444;
    margin:0px 50px;
}
a{
    color:#444;
    text-decoration: none;
}
nav{
    /* border: 2px solid red; */
    background-color: #cecece;
}
nav ul{
    /* border: 2px solid green; */
    padding-left:0px;
    text-align: center;
}
nav li{
    display:inline-block;
    border-bottom:1px solid #444;
    margin: 15px 20px;
    font-size:20px;
    list-style:none;
    text-transform: uppercase;
}
section{
    margin-top:50px;
}
h1,h2,h3{
    color: #222;
}
h2{
    border-bottom: 1px solid #444;
}