@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
h1{
    background-color:lightblue;
    padding:5px 0px;
    text-align: center;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin:0 150px;
}
section.p1 , section{
    border: 5px solid black;
    margin-bottom: 20px;
    padding: 10px;
}