/* body :not(.fancy){
    color:blue;
    background-color: #ddd;
} */
/* div:empty{
    background-color: #222;
    border:2px solid red;
    height: 100px;
    width: 100px;
} */
/* :root{
    background:red;
    color:white;
} 
html{
    background: #333;
    color:#eee;
}*/
/* body{
    background: #222;
    color: #eee;
} */
/* p::first-line{
    font-size: 32px;
}
p::first-letter{
    font-size: 70px;
} */
::selection{
    background: black;
    color: white;
}